<!-- Begin Content Gallery -->
<section class="mt-5 container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background-image: linear-gradient(-90deg, #FCAF17 0%, #F68B1F 100%);"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background-image: linear-gradient(-90deg, #FCAF17 0%, #F68B1F 100%);"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background-image: linear-gradient(-90deg, #FCAF17 0%, #F68B1F 100%);"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background-image: linear-gradient(-90deg, #FCAF17 0%, #F68B1F 100%);"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
            <a href="#" class="index__images-gallery mx-auto" style="background-image: linear-gradient(-90deg, #FCAF17 0%, #F68B1F 100%);"></a>
            <div class="pt-4 text-center">
                <a href="#" class="m-text__title2 mb-1">Helsinki, Herttoniemi</a>
            </div>
        </div>
    </div>
    @include('../components/link-share.html')
</section>
<!-- End Content Gallery -->