<!-- Begin Landing Page Banner -->
<section class="landing-page__banner d-flex align-items-center justify-content-center" style="background: url(images/banner.jpg) center center / cover;">
    <div class="landing-page__banner--content">
        <p class="m-text__title5--white text-center mb-4 mb-md-5">Löydä sinulle sopiva auto</p>
        <div class="row">
            <div class="col-12 col-sm-5 mb-3 mb-sm-0">
                <select>
                    <option value="0">Merkki</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                </select>
            </div>
            <div class="col-12 col-sm-5 mb-3 mb-sm-0">
                <select>
                    <option value="0">Korimalli</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                </select>
            </div>
            <div class="col-12 col-sm-2 mb-3 mb-sm-0">
                <a href="" class="d-block w-100 m-btn m-btn-orange2 py-4">Hae</a>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="" class="m-text__link3">Näytä kaikki suodattimet</a>
        </div>
    </div>
</section>
<!-- Begin Landing Page Banner -->