<!-- Begin Banner -->
<div class="toimipisteet__banner d-flex align-items-center justify-content-center" style="background: url(images/banner.jpg) center center / cover;">
    <div class="d-none d-sm-flex flex-wrap align-items-center justify-content-center palvelut__menu">
        <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner1">
            <img src="images/ic-house.svg">
            <p class="m-text__content7 w-100 mt-2 mb-1">Kotiintoimitus</p>
            <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
        </a>
        <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner2">
            <img src="images/ic-euro.svg">
            <p class="m-text__content7 w-100 mt-2 mb-1">Rahoitus</p>
            <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
        </a>
        <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner3">
            <img src="images/ic-wrench.svg">
            <p class="m-text__content7 w-100 mt-2 mb-1">SakaVarma</p>
            <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
        </a>
        <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner4">
            <img src="images/ic-umbrella.svg">
            <p class="m-text__content7 w-100 mt-2 mb-1">Vakuutus</p>
            <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
        </a>
    </div>
</div>
<div class="d-sm-none d-flex flex-wrap align-items-center justify-content-center palvelut__menu">
    <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner1">
        <img src="images/ic-house.svg">
        <p class="m-text__content7 w-100 mt-2 mb-1">Kotiintoimitus</p>
        <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
    </a>
    <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner2">
        <img src="images/ic-euro.svg">
        <p class="m-text__content7 w-100 mt-2 mb-1">Rahoitus</p>
        <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
    </a>
    <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner3">
        <img src="images/ic-wrench.svg">
        <p class="m-text__content7 w-100 mt-2 mb-1">SakaVarma</p>
        <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
    </a>
    <a href="" class="text-center p-3 mx-2 mt-3 palvelut__menu-item @banner4">
        <img src="images/ic-umbrella.svg">
        <p class="m-text__content7 w-100 mt-2 mb-1">Vakuutus</p>
        <p class="m-text__content8 w-100 mb-0">Toimitamme autosi kotiisi!</p>
    </a>
</div>
<!-- End Banner -->