<!-- Begin Viimeksi lisätyt autot -->
<section class="pt-5 m-bg__grey">
    <div class="container py-5">
        <p class="m-text__title4 text-center mb-0">Viimeksi lisätyt autot</p>
        <div class="row">
            <div class="col-sm-6 col-lg-3 px-2 mt-5">
                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                <div class="p-2 bg-white shadow-sm">
                    <div class="mb-3">
                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                    </div>
                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                        <p class="m-text__price1 mb-0">88 900 €</p>
                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 px-2 mt-5">
                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                <div class="p-2 bg-white shadow-sm">
                    <div class="mb-3">
                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                    </div>
                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                        <p class="m-text__price1 mb-0">88 900 €</p>
                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 px-2 mt-5">
                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                <div class="p-2 bg-white shadow-sm">
                    <div class="mb-3">
                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                    </div>
                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                        <p class="m-text__price1 mb-0">88 900 €</p>
                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 px-2 mt-5">
                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                <div class="p-2 bg-white shadow-sm">
                    <div class="mb-3">
                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                    </div>
                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                        <p class="m-text__price1 mb-0">88 900 €</p>
                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Viimeksi lisätyt autot -->