@include('../partials/head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 mb-3 mt-5 mt-md-0">
        @include('../components/slide-car.html')
        <!-- Begin Description -->
        <section class="mt-5">
            <p class="m-text__title text-uppercase text-center">LAND ROVER RANGE ROVER</p>
            <!-- * -->
            <div class="container auton-esittely__description">
                <p class="m-text__content6 text-center mb-4">4,4 TDV8 AUTOBIOGRAPHY-KORISARJA MY12 #SUPERNÄYTTÄVÄ! #22" #TV #LOGIC7</p>
            </div>
            <div class="text-center">
                <a href="" class="m-text__link1">Näytä kaikki kuvat</a>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-lg-7 mb-5 mb-lg-0">
                        <table class="table table-striped auton-esittely__table">
                            <tbody>
                                <tr>
                                    <th>Vuosimalli</th>
                                    <td>2012</td>
                                </tr>
                                <tr>
                                    <th>Kilometrilukema</th>
                                    <td>100000 km</td>
                                </tr>
                                <tr>
                                    <th>Polttoaine</th>
                                    <td>Diesel</td>
                                </tr>
                                <tr>
                                    <th>Sijainti</th>
                                    <td>Vantaa</td>
                                </tr>
                                <tr>
                                    <th>Vaihteisto</th>
                                    <td>Automaatti</td>
                                </tr>
                                <tr>
                                    <th>Vetotapa</th>
                                    <td>Neliveto</td>
                                </tr>
                                <tr>
                                    <th>Katsastettu</th>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a href="" class="m-text__link1">Näytä tarkemmat tiedot</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <p class="m-text__title text-center">59 900 €</p>
                        <p class="m-text__content1 text-center mb-1">tai 1 071,00 €/kk</p>
                        <p class="m-text__content1 text-center mb-1">+ toimistokulut 99 €</p>
                        <p class="m-text__content1--yellow text-center mb-3">Yhteensä 59 999 €</p>
                        <div class="text-center">
                            <a href="" class="m-btn m-btn-orange py-2 px-4">Soita ja kysy lisää 044 123 4567</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * -->
            <p class="m-text__title text-uppercase text-center mt-5">VARUSTEET</p>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>
                                    ** Toimitamme tämänkin auton kaikkialle Suomeen! Soita 0207032603 tai jätä yhteydenottopyyntö.<br>
                                    Tervetuloa mukaville autokaupoille Sakalle Vantaalle osoitteeseen Virkatie 7.
                                </span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>** Tuonti-auto (Ruotsi - hinta sisältää rekisteröinnin autoveron sekä maahantulokatsastuksen)</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Huoltokirja</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>2 x Avain</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Ilmastointi: Automaattinen</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Avaimeton käynnistys</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Isofix-valmius</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Katon avausmekanismi:</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Lukkiutumattomat jarrut (ABS)</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Lämmitettävä tuulilasi</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Monitoimiohjauspyörä</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Nahkasisusta</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Navigointijärjestelmä</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Ohjauspyörän lämmitys</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Penkinlämmittimet</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Penkinlämmittimet takaistuimille</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Peruutuskamera</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Pysäköintitutka edessä ja takana</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Sadetunnistin</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Sähköisesti säädettävät ja koria vasten taittuvat sivupeilit</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Sähkökäyttöiset ikkunat</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Sähkösäätöiset etuistuimet kuljettajan istuin muistilla</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Vakionopeudensäädin</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Vetokoukku (irroitettava)</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Xenon-ajovalot</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Aluvanteet kesä-ja talvirenkaissa</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Kahdet renkaat</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Ajotietokone</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Turvatyynyt</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Automaattisesti himmentyvä taustapeili</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Alamäkihidastin HDC ja progressiivinen jarrujen vapautus GRC</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Virtuaalinen mittaristo</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Terrain Response -järjestelmä</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>7" värillinen kosketusnäyttö</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Dual View - kaksoisnäyttötoiminto</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3"> 
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>TV-vastaanotin</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>LOGIC7 Hifi järjestelmä</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>harman/kardon audio</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>CD soitin</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>6-levyn vaihtaja</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Ohjaustehostin</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>** Tähänkin autoon saat SakaVarma- lisäturvan rahoituksen yhteydessä alkaen vain 9euroa/kk (20000km/12kk). Kysy lisää myyjältä! **</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>#ostetaanautoja - www.saka.fi/ostetaan-autoja</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>** Katso myös muut automme kattavasta satojen autojen valikoimasta osoitteesta www.saka.fi **</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * -->
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 mb-4 mb-xl-0">
                        <div class="auton-esittely__kiinnostuitko-tasta p-5 mt-0 mx-auto">
                            <p class="m-text__title4 text-center mb-4">Kiinnostuitko tästä autosta?</p>
                            <input type="text" class="form-control mb-2" placeholder="" value="Nimi">
                            <input type="text" class="form-control mb-2" placeholder="" value="Puhelin">
                            <input type="text" class="form-control mb-2" placeholder="" value="Sähköposti">
                            <textarea type="text" class="form-control mb-2" placeholder="">Viesti</textarea>
                            <label class="m-checkbox__style1">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="m-text__content5">Haluan tarjota vaihtoautoa</span>
                            </label>
                            <div class="text-center">
                                <button class="m-btn m-btn-orange2 py-3 px-5">Lähetä</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="palvelut__description-rahoituslaskuri p-5 mt-0">
                            <p class="m-text__title4 text-center mb-4">Rahoituslaskuri</p>
                            <div class="d-flex align-items-center mb-2">
                                <p class="m-text__content5 mb-0 mr-2 mr-sm-5">Käsiraha (Vähintään 10%)</p>
                                <input type="text" class="form-control" placeholder="" value="6024">
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <p class="m-text__content5 mb-0 mr-2 mr-sm-5">Maksuaika (kk)</p>
                                <select>
                                    <option value="0">60</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="4">5</option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center m-border__top--orange m-border__bottom--orange py-4">
                                <p class="m-text__content5 mb-0 mr-2 mr-sm-5">Kuukausierä:</p>
                                <p class="m-text__content5 mb-0 ml-auto">1082,95 €</p>
                            </div>
                            <p class="m-text__content5 text-center mb-0 my-4">Rahoitus vaatii erillisen luottopäätöksen.</p>
                            <div class="text-center">
                                <button class="m-btn m-btn-orange2 py-3 px-5">Hae luottopäätös</button>
                            </div>
                            <p class="m-text__content5 text-center mb-0 mt-4 mb-2">Saat alustavan päätöksen heti.</p>
                            <div class="text-center">
                                <a class="m-text__link1" href="">Näytä rahoituksen tiedot</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @include('../components/link-share.html')
        </section>
        <!-- End Description -->
        @include('../components/soita-ja-kysy-lisaa.html') 
        @include('../components/banner.html')
        @include('../components/viimeksi-lisatyt-autot.html') 
        @include('../components/toimipisteet-ja-yhteystiedot.html')
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')