@include('../partials/head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 mb-3 mt-5 mt-md-0">
        @include('../components/slide-car.html')
        <!-- Begin Content Information -->
        <section class="mt-3">
            <p class="m-text__title text-center mb-5">HELSINKI, HERTTONIEMI</p>
            <p class="m-text__content1 text-center mb-1">Suomen Autokauppa Oy</p>
            <p class="m-text__content1 text-center mb-1">Helsinki, Herttoniemi</p>
            <p class="m-text__content1 text-center mb-1">Mekaanikonkatu 17</p>
            <p class="m-text__content1 text-center mb-0">00880, Helsinki</p>
            <p class="m-text__content1 text-center my-4">Puhelin: 020 703 2606</p>
            <p class="m-text__content1 text-center mb-1">Ma-Pe 10 - 18</p>
            <p class="m-text__content1 text-center mb-1">La 10 - 15</p>
            <p class="m-text__content1 text-center mb-1">Su suljettu</p>
            <div class="text-center mt-4">
                <a href="#" class="m-btn m-btn-orange px-5">Näytä toimipisteen vaihtoautot</a>
            </div>
        </section>
        <!-- End Content Information -->

        <!-- Begin Content People Information -->
        <section class="mt-5 container">
            <div class="owl-carousel owl-theme index__owl-carousel--people-info">
                <div class="item">
                    <div class="rounded-circle index__avatar--info mx-auto" style="background: url(images/image-avatar.jpg) center center / cover"></div>
                    <div class="pt-4 text-center">
                        <p class="m-text__title2 mb-1">Eetu Pakkala</p>
                        <p class="m-text__content2 mb-0">Automyynti</p>
                        <p class="m-text__content2 mb-0">050 336 8589</p>
                        <p class="m-text__content2 mb-0">eetu.pakkala@saka.fi</p>
                    </div>
                </div>
                <div class="item">
                    <div class="rounded-circle index__avatar--info mx-auto" style="background: url(images/image-avatar.jpg) center center / cover"></div>
                    <div class="pt-4 text-center">
                        <p class="m-text__title2 mb-1">Eetu Pakkala</p>
                        <p class="m-text__content2 mb-0">Automyynti</p>
                        <p class="m-text__content2 mb-0">050 336 8589</p>
                        <p class="m-text__content2 mb-0">eetu.pakkala@saka.fi</p>
                    </div>
                </div>
                <div class="item">
                    <div class="rounded-circle index__avatar--info mx-auto" style="background: url(images/image-avatar.jpg) center center / cover"></div>
                    <div class="pt-4 text-center">
                        <p class="m-text__title2 mb-1">Eetu Pakkala</p>
                        <p class="m-text__content2 mb-0">Automyynti</p>
                        <p class="m-text__content2 mb-0">050 336 8589</p>
                        <p class="m-text__content2 mb-0">eetu.pakkala@saka.fi</p>
                    </div>
                </div>
                <div class="item">
                    <div class="rounded-circle index__avatar--info mx-auto" style="background: url(images/image-avatar.jpg) center center / cover"></div>
                    <div class="pt-4 text-center">
                        <p class="m-text__title2 mb-1">Eetu Pakkala</p>
                        <p class="m-text__content2 mb-0">Automyynti</p>
                        <p class="m-text__content2 mb-0">050 336 8589</p>
                        <p class="m-text__content2 mb-0">eetu.pakkala@saka.fi</p>
                    </div>
                </div>
                <div class="item">
                    <div class="rounded-circle index__avatar--info mx-auto" style="background: url(images/image-avatar.jpg) center center / cover"></div>
                    <div class="pt-4 text-center">
                        <p class="m-text__title2 mb-1">Eetu Pakkala</p>
                        <p class="m-text__content2 mb-0">Automyynti</p>
                        <p class="m-text__content2 mb-0">050 336 8589</p>
                        <p class="m-text__content2 mb-0">eetu.pakkala@saka.fi</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Content People Information -->

        @include('../components/content-gallery.html')

        @include('../components/viimeksi-lisatyt-autot.html')

        @include('../components/toimipisteet-ja-yhteystiedot.html')
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')