@include('../partials/head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 mb-3 mt-5 mt-md-0">
        @include('../components/landing-page-banner.html')
        <section class="d-flex align-items-center justify-content-center my-5">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <div class="banner__style1--item mx-2 mt-3 pt-4 px-2">
                    <p class="m-text__title7 mb-2 text-center">Huolettomia kilometrejä!</p>
                    <div class="text-center">
                        <a href="" class="m-text__link3">Lue lisää</a>
                    </div>
                </div>
                <div class="banner__style1--item mx-2 mt-3 pt-5 px-2">
                    <p class="m-text__title--white mb-5 text-center">Ostetaan autoja</p>
                    <p class="m-text__footer1 text-center">Tarjoa!</p>
                </div>
                <div class="banner__style1--item mx-2 mt-3 pt-4 px-2">
                    <p class="m-text__title7 mb-2 text-center">Tuomme auton kotiisi veloituksetta!</p>
                    <div class="text-center">
                        <a href="" class="m-text__link3">Lue lisää</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- * -->
        <section class="m-bg__grey">
            <div class="container pt-5 pb-5 landing-page__nav">
                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-uusimmat-tab" data-toggle="pill" href="#pills-uusimmat" role="tab" aria-controls="pills-uusimmat" aria-selected="true">Uusimmat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-suosituimmat-tab" data-toggle="pill" href="#pills-suosituimmat" role="tab" aria-controls="pills-suosituimmat" aria-selected="false">Suosituimmat</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-uusimmat" role="tabpanel" aria-labelledby="pills-uusimmat-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 px-2 mt-4">
                                <a href="#" class="index__images-gallery mx-auto" style="background: url(images/index1.jpg) center center / cover"></a>
                                <div class="p-2 bg-white shadow-sm">
                                    <div class="mb-3">
                                        <a href="#" class="m-text__title3 mb-1">LAND ROVER RANGE ROVER SPORT</a>
                                        <p class="m-text__content3 mb-1">3,0 SDV6 HSE</p>
                                        <p class="m-text__content4 mb-1">2014, 60 tkm, Diesel, Porvoo</p>
                                    </div>
                                    <div class="pt-4 pr-2 text-right m-border__top--gray">
                                        <p class="m-text__price1 mb-0">88 900 €</p>
                                        <p class="m-text__price2 mb-1">tai 1 071,00 €/kk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <a href="" class="m-btn m-btn-orange2 py-3 px-4">Lataa lisää</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-suosituimmat" role="tabpanel" aria-labelledby="pills-suosituimmat-tab">...</div>
                </div>
            </div>
        </section>
        @include('../components/toimipisteet-ja-yhteystiedot.html')
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')