@include('../partials/head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 mb-3 mt-5 mt-md-0">
         @include('../components/palvelut-banner.html',{"banner1":"", "banner2":"", "banner3":"", "banner4":"active"})

        <!-- Begin Description -->
        <section class="mt-5">
            <p class="m-text__title text-center mb-4">EDULLINEN KASKOVAKUUTUS AUTOLLESI</p>
            <div class="container palvelut__description">
                <p class="m-text__content6 text-center mb-5">SAKAkasko on edullinen autovakuutus SAKAn asiakkaille. Olemme kilpailuttaneet kaskon puolestasi niin, että voit saavuttaa vakuutuskuluis</p>
                <p class="m-text__content6 text-center mb-4">SAKAkasko korvaa vahinkotilanteessa autollesi aiheutuneet vahingot. Korvausten laajuus vaihtelee valitsemasi kaskon mukaan:</p>
            </div>
            <!-- * -->
            <p class="m-text__content6 text-center">PERUSKASKO SISÄLTÄÄ:</p>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Bonusturva</span>
                            </p>
                            <p class="m-text__content9 my-2">
                                <span class="mr-2">-</span>
                                <span>Kolarointivakuutus</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Luonnonilmiövakuutus</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Bonusturva</span>
                            </p>
                            <p class="m-text__content9 my-2">
                                <span class="mr-2">-</span>
                                <span>Kolarointivakuutus</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Luonnonilmiövakuutus</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Bonusturva</span>
                            </p>
                            <p class="m-text__content9 my-2">
                                <span class="mr-2">-</span>
                                <span>Kolarointivakuutus</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Luonnonilmiövakuutus</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-3">
                        <div class="palvelut__peruskasko--item py-4 px-3">
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Bonusturva</span>
                            </p>
                            <p class="m-text__content9 my-2">
                                <span class="mr-2">-</span>
                                <span>Kolarointivakuutus</span>
                            </p>
                            <p class="m-text__content9 mb-0">
                                <span class="mr-2">-</span>
                                <span>Luonnonilmiövakuutus</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * -->

            <!-- * -->
            <p class="m-text__content6 text-center">LAAJAKASKO SISÄLTÄÄ LISÄKSI:</p>
            <div class="container palvelut__description">
                <p class="m-text__content9 text-center mb-2">Lunastusetuvakuutus</p>
                <p class="m-text__content9 text-center mb-5">Lasivakuutus</p>
                <p class="m-text__content9 text-center mb-2">SAKAkaskon hinta määräytyy auton ostohinnan perusteella.</p>
                <p class="m-text__content9 text-center mb-5">Vakuutus voidaan myöntää yksityisasiakkaiden enintään 85 000 € maksaviin ja tehoiltaan alle 200kw autoille.</p>
            </div>
            <!-- * -->
            @include('../components/link-share.html')
        </section>
        <!-- End Description -->

        @include('../components/soita-ja-kysy-lisaa.html')

        @include('../components/viimeksi-lisatyt-autot.html')

        @include('../components/toimipisteet-ja-yhteystiedot.html')
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')