@include('../partials/head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 mb-3 mt-5 mt-md-0">
         @include('../components/palvelut-banner.html',{"banner1":"active", "banner2":"", "banner3":"", "banner4":""})

        <!-- Begin Description -->
        <section class="mt-5">
            <p class="m-text__title text-center">TOIMITAMME AUTOSI KOTIISI <br>– VELOITUKSETTA!</p>
            <!-- * -->
            <div class="container palvelut__description--etusivu">
                <p class="m-text__content6 text-center mb-0">Tuomme auton veloituksetta kotiisi mistä tahansa SAKA-myymälästä, jotta pääset koeajamaan auton ennen ostopäätöstä!</p>
            </div>
            <!-- * -->
            <p class="m-text__title4 text-center text-uppercase mt-5">TOIMI NÄIN:</p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
                        <div class="position-relative palvelut__peruskasko--item pt-5 pb-4 px-3">
                            <span class="palvelut__peruskasko--number">1</span>
                            <p class="m-text__content9 text-center my-2">Löydä sinua kiinnostava auto tarjonnastamme ja ota yhteyttä haluamaasi myyjään.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
                        <div class="palvelut__peruskasko--item pt-5 pb-4 px-3">
                            <span class="palvelut__peruskasko--number">2</span>
                            <p class="m-text__content9 text-center my-2">Myyjä esittelee sinulle puhelimitse auton tiedot ja kunnon. Sovitte myös mahdollisesta vaihtoautosta ja maksettavasta välirahasta.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
                        <div class="palvelut__peruskasko--item pt-5 pb-4 px-3">
                            <span class="palvelut__peruskasko--number">3</span>
                            <p class="m-text__content9 text-center my-2">Auto toimitetaan kotiisi, jolloin voit vielä koeajaa auton ja todeta sen sellaiseksi, kuin myyjä puhelimessa esitteli.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 mt-5">
                        <div class="palvelut__peruskasko--item pt-5 pb-4 px-3">
                            <span class="palvelut__peruskasko--number">4</span>
                            <p class="m-text__content9 text-center my-2">Paperit allekirjoitetaan ja saat haluamasi auton.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * -->
            @include('../components/link-share.html')
        </section>
        <!-- End Description -->

        @include('../components/soita-ja-kysy-lisaa.html')

        @include('../components/viimeksi-lisatyt-autot.html')

        @include('../components/toimipisteet-ja-yhteystiedot.html')
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')