<!-- Begin footer -->
<footer class="footer position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="py-3">
                    <p class="m-text__footer1 mb-0">Soita ja kysy lisää<span>044 123 4567</span></p>
                </div>
            </div>
            <div class="col-12 col-xl-7">
                <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center h-100">
                    <label class="m-text__footer1 text-left text-xl-right m-width__280 mb-0 mr-3">Jätä soittopyyntö</label>
                    <div class="input-group footer__search">
                        <input type="text" class="form-control" placeholder="Puhelinnumero">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Lähetä</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
    </div>
    <a href="#" class="footer__btn--close"><img src="images/ic-close.svg"></a>
    
</footer>
<!-- End footer -->