<!-- Begin header -->
<header class="d-none d-md-block header__bg py-3 ">
    <div class="container d-flex">
        <div class="align-self-center">
            <a href="#"><img src="images/header-logo.png" height="48px"></a>
        </div>
        <div class="ml-auto d-flex flex-wrap align-items-center">
            <nav class="d-flex flex-wrap">
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="#">Autot</a>
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="#">Palvelut</a>
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="#">Rekry</a>
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="#">Yritys</a>
                <a class="d-flex align-items-center text-uppercase header-menu__link" href="#">Yhteystiedot</a>
            </nav>
        </div>
    </div>
</header>
<!-- End header -->
<!-- Begin header mobile -->
<section class="d-md-none header-mobile">
    <div class="d-flex justify-content-between align-items-center w-100 py-1 pr-2 pl-3 m-bg__gradient header-mobile__fixed">
        <a class="navbar-brand" href="#">
            <img class="header-mobile__logo" src="images/header-logo.png" alt="">
        </a>
        <button id="callHeaderMobileMenu" class="d-flex justify-content-center align-items-center border-0 bg-transparent">
            <img class="header-mobile__ic-menu" src="images/ic-menu.svg">
            <img class="header-mobile__ic-menu-close" src="images/ic-menu-close.svg">
        </button>
    </div>
    <div id="headerMobileMenu" class="header-mobile-menu px-2">
        <nav class="pt-4 header-mobile-menu__limit-height">
            <div class="mb-4">
                <a class="d-block text-center header-menu__link" href="">Autot</a>
            </div>
            <div class="mb-4">
                <a class="d-block text-center header-menu__link" href="">Palvelut</a>
            </div>
            <div class="mb-4">
                <a class="d-block text-center header-menu__link" href="">Rekry</a>
            </div>
            <div class="mb-4">
                <a class="d-block text-center header-menu__link" href="">Yritys</a>
            </div>
            <div class="mb-4">
                <a class="d-block text-center header-menu__link" href="">Yhteystiedot</a>
            </div>
        </nav>
    </div>
</section>
<!-- End header mobile -->